html, body {
    height: 100%;
}

#mynetwork {
    width: 50%;
    height: 100%;
    border: 1px solid lightgray;
}

#container2 {
    width: 50%;
    height: 100%;
    border: 1px solid lightgray;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

#mynetwork2 {
    width: 100%;
    height: 100%;
}

#container {
    width: 100%;
    height: 70%;
    background-color: rgb(28, 2, 55);
    display: flex;
    margin: 0 auto;
}

#generate-graph {
    margin: auto;
    display: block;
}

#btns {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}

#btns button {
    margin: 5px;
}